section.content-header.clearfix
  h1.pull-left
    | Pharmacy
    small info
  button.pull-right.btn.btn-primary(ng-click="vm.goTo()")
    i.fa.fa-pencil(style="margin-right: 10px")
    | Edit
    
section.content
  .row
    .col-xs-4
      .box.box-widget.widget-user
        .widget-user-header.bg-blue
          h3.widget-user-username {{vm.pharmacy.name}}
          h5.widget-user-desc {{vm.pharmacy.email}}

        .box-footer.no-padding
          ul.nav.nav-stacked
            li(ng-show="vm.pharmacy.phone")
              a
                b Phone:
                span.pull-right {{vm.pharmacy.phone}}
            li(ng-show="vm.pharmacy.address")
              a
                b Address:
                span.pull-right {{vm.pharmacy.address}}

    .col-xs-8
      leaflet(defaults="vm.defaults" markers="vm.markers" lf-center="vm.center" height="474px" width="700px")
