section.content-header
  h1 Map

section.content
  leaflet(defaults="map.defaults" markers="vm.markers" lf-center="vm.center" height="400px" width="1090px")

  .box(style="margin-top: 50px")
    .box-body.no-padding
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Location
            th Phone Number
            th Amount of Products
            th Date
            th Status
            th 
        tbody
          tr(ng-repeat="order in vm.orders" ng-click="vm.goTo(order._id)")
            td
              b {{order.name}}
            td
              a(href="#")
                i.fa.fa-map-marker(style="margin-right: 5px")
                | Show on map
            td {{order.phone}}
            td {{order.products.length}}
            td {{order.date}}
            td
              span(class="label bg-green" ng-show="order.new") new
              span(class="label bg-blue" ng-hide="order.new") confirmed
            td
              button(class="btn btn-primary btn-xs" ng-show="order.new" ng-click="vm.confirm(order._id); $event.stopPropagation();") 
                b Corfirm
