section.content-header.clearfix
  h1.pull-left
    | Products
    small list of products
  div.pull-right


section.content
  .row
    .col-xs-9
      .box.box-solid.box-primary
        .box-body
          .row
            .col-xs-4
              .form-group.no-margin
                label Search
                .input-group
                  input.form-control(ng-model="vm.searchValue")
                  .input-group-btn
                    button.btn.btn-primary.btn-flat(ng-click="vm.filter()")
                      i.fa.fa-search
            .col-xs-3
              .form-group.no-margin
                label By
                select.form-control(ng-model="vm.searchBy", ng-change="")
                  option(value="name") Product Name
                  option(value="producer") Producer
            .col-xs-3
              .form-group
                label Sort by
                select.form-control(ng-model="vm.sortBy" ng-change="vm.sort()")
                  option(value="name") Product Name
                  option(value="producer") Producer
                  option(value="price") Price
                  option(value="quantityWH") Quantity
            .col-xs-2
              .form-group
                label Sort order
                select.form-control(ng-model="vm.sortOrder" ng-change="vm.sort()")
                  option(value="asc") Asc
                  option(value="desc") Desc

    .col-xs-3.text-right
      button.btn.btn-success(style="margin-bottom: 5px; width: 140px" ng-click="vm.openModal()")
        i.fa.fa-file(style="margin-right: 5px")
        | Upload file

      button.btn.btn-primary(ng-click="vm.createProduct()" style="width: 140px")
        i.fa.fa-plus(style="margin-right: 5px")
        | Create product
  .box
    .overlay(ng-show="vm.overlay")
      i.fa.fa-refresh.fa-spin
    .box-body.no-padding
      table.table.table-striped
        thead
          tr
            th Product Name
            th Price
            th Quantity
            th Producer
            th
        tbody
          tr(ng-repeat="product in vm.pager.products" ng-click="vm.goTo(product._id)")
            td
              b {{ product.name }}
            td {{ product.price }}
            td {{ product.quantityWH }}
            td {{ product.producer }}
            td
              button.btn.btn-default.btn-xs(href="#"  ng-click="vm.editProduct(product._id, $event)" style="margin-right: 5px")
                i.fa.fa-pencil
              button.btn.btn-danger.btn-xs(href="#" ng-click="vm.deleteProduct(product._id, $event)")
                i.fa.fa-close

    .box-footer.clearfix
      ul.no-margin.pagination-sm.pull-right(uib-pagination ng-model="vm.pager.currentPage" boundary-link-numbers="true" total-items="vm.pager.totalItems" ng-change="vm.pageChanged()" max-size="vm.pager.maxSize")
