.login-logo
  | Pharmacy
  b BOT
.login-box-body
  h4.login-box-msg Sign up to start your session
  
  .form-group.has-error
    .help-block(ng-show="signup.errorMsg" align="center") {{signup.errorMsg}}

  form.form(name='form', ng-submit='signup.onSubmit(form)', novalidate)
    .box-body
      .form-group(ng-class="{'has-error': form.email.$invalid && form.$submitted}")
        label Email
        input.form-control(type='email' name='email' ng-model='signup.form.email' required)
        ng-messages(for='form.email.$error' ng-show='form.email.$invalid && form.$submitted')
          ng-message.help-block(when='required' ng-hide="form.email.$error.email") Email is required
          ng-message.help-block(when='email' ng-hide="form.email.$error.required") Email is not correct

      .form-group(ng-class="{'has-error': form.name.$invalid && form.$submitted}")
        label Name
        input.form-control(type='text' name='name' ng-model='signup.form.name' required)
        ng-messages(for='form.name.$error' ng-show='form.name.$invalid && form.$submitted')
          ng-message.help-block(when='required' ng-hide="form.name.$error.email") Name is required

      .form-group(ng-class="{'has-error': form.password.$invalid && form.$submitted}")
        label Password
        input.form-control(type='password' name='password' ng-model='signup.form.password' required ng-minlength="6")
        ng-messages(for='form.password.$error' ng-show='form.password.$invalid && form.$submitted')
          ng-message.help-block(when='required' ng-hide="form.password.$error.minlength") Password is required
          ng-message.help-block(when='minlength' ng-hide="form.password.$error.required") Min length 6

      .form-group(ng-class="{'has-error': form.password_confirm.$invalid && form.$submitted}")
        label Confirm Password
        input.form-control(type='password' name='password_confirm' ng-model="signup.form.password_confirm" match="signup.form.password" required)
        ng-messages(for='form.password_confirm.$error' ng-show='form.password_confirm.$invalid && form.$submitted')
          ng-message.help-block(when='required' ng-hide="form.password_confirm.$error.match") Password is required
          ng-message.help-block(when='match' ng-hide="form.password_confirm.$error.required") Password is not equal

      button.btn.btn-primary(type='submit')
        | Sign Up
      = ' '
