header.main-header
  a.logo(href='/')
    span.logo-mini
      | BOT
    span.logo-lg
      b pharmacy
      | BOT
  nav.navbar.navbar-static-top(role='navigation')
    a.sidebar-toggle(ng-click='nav.toggleAside()')
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li.notifications-menu
          a(href="#" ng-click="vm.goTo()")
            i.fa.fa-bell-o
            span.label.label-danger(ng-show="vm.count") {{ vm.count }}
        li
          a(href='#'  ng-click="vm.signout()")
            b Sign out
            i.fa.fa-sign-out(style="margin-left: 5px")
