section.content-header.clearfix
  h1.pull-left
    | Orders
    small list of orders

section.content
  .row
    .col-xs-9
      .box.box-solid.box-primary          
        .box-body
          .row
            .col-xs-4
              .form-group.no-margin
                label Search
                .input-group
                  input.form-control(ng-model="vm.searchValue")
                  .input-group-btn
                    button.btn.btn-primary.btn-flat(ng-click="vm.filter()")
                      i.fa.fa-search                         
            .col-xs-3
              .form-group.no-margin
                label By
                select.form-control(ng-model="vm.searchBy", ng-change="")
                  option(value="name") Name
                  option(value="phone") Phone
            .col-xs-3
              .form-group
                label Sort by
                select.form-control(ng-model="vm.sortBy" ng-change="vm.sort()")
                  option(value="date") Date
                  option(value="name") Name
            .col-xs-2                    
              .form-group
                label Sort order
                select.form-control(ng-model="vm.sortOrder" ng-change="vm.sort()")
                  option(value="asc") Asc
                  option(value="desc") Desc 

  .box
    .overlay(ng-show="vm.overlay")
      i.fa.fa-refresh.fa-spin
    .box-body.no-padding
      table.table.table-striped.table-hover
        thead
          tr
            th Name
            th Location
            th Phone Number
            th Amount of Products
            th Date
            th Status
            th 
        tbody
          tr(ng-repeat="order in vm.pager.orders" ng-click="vm.goTo(order._id)")
            td
              b {{order.name}}
            td
              a(href="#")
                i.fa.fa-map-marker(style="margin-right: 5px")
                | Show on map
            td {{order.phone}}
            td {{order.products.length}}
            td {{order.date}}
            td
              span(class="label bg-green" ng-show="order.new") new
              span(class="label bg-blue" ng-hide="order.new") confirmed
            td
              button(class="btn btn-primary btn-xs" ng-show="order.new" ng-click="vm.confirm(order._id); $event.stopPropagation();") 
                b Corfirm

    .box-footer.clearfix
      ul.no-margin.pagination-sm.pull-right(uib-pagination ng-model="vm.pager.currentPage" boundary-link-numbers="true" total-items="vm.pager.totalItems" ng-change="vm.pageChanged()" max-size="vm.pager.maxSize")
