section.content-header
  h1
    | Pharmacy
    small {{vm.product.name}}
  
section.content(style="height: 511px")
  .alert-danger(uib-alert ng-show="vm.errMsg") {{vm.errMsg.substr(0, 180)}}
  .row
    .col-xs-5
      .box.box-primary
        .box-header.with-border
          h3.box-title Pharmacy edit

        form(name="form" ng-submit="vm.onSubmit(form)"  novalidate)
          .box-body
            .form-group(ng-class="{'has-error': form.name.$invalid && form.$submitted}")
              label(for="name") Name
              input.form-control(type="text" name="name" id="name" ng-model="vm.pharmacy.name" required)
              ng-messages(for='form.name.$error' ng-show='form.name.$invalid && form.$submitted')
                ng-message.help-block(when='required') Name is required
              
            .form-group(ng-class="{'has-error': form.price.$invalid && form.$submitted}")
              label(for="price") Address
              input.form-control(type="text" name="address" id="address" ng-model="vm.pharmacy.address" required)
              ng-messages(for='form.address.$error' ng-show='form.address.$invalid && form.$submitted')
                ng-message.help-block(when='required') Address is required

            .form-group(ng-class="{'has-error': form.quantity.$invalid && form.$submitted}")
              label(for="quantity") Phone
              input.form-control(type="text" name="phone" id="phone" ng-model="vm.pharmacy.phone" required)
              ng-messages(for='form.phone.$error' ng-show='form.phone.$invalid && form.$submitted')
                ng-message.help-block(when='required') Quantity is required
                
          .box-footer
            button.btn.btn-primary(type="submit") Submit
    .col-xs-7
      leaflet(defaults="vm.defaults" markers="vm.markers" lf-center="vm.center" height="480px" width="630px")