form(name="upload" ng-submit="vm.onSubmit(upload)")
  div.modal-header
    h3#modal-title.modal-title Upload CSV File with medicaments

  div#modal-body.modal-body
    input(type="file" name="file" file-model="vm.file")

  div.modal-footer
    button.btn.btn-primary( type="submit" ) Upload
    button.btn.btn-warning( type="button" ng-click="vm.cancel()") Cancel
