section.content-header
  h1
    | Order
    small {{vm.order.name}}

section.content(style="min-height: 512px")
  .row
    .col-xs-5
      .box.box-default
        .box-header.with-border
          h3.box-title {{vm.order.name}}
          button.btn.btn-primary.pull-right.btn-xs(ng-click="vm.confirm(vm.order._id)" ng-show="vm.order.new")
            b confirm
        .box-body.no-padding
          ul.nav.nav-pills.nav-stacked
            li
              a
                b status:
                span.pull-right.label.bg-green(ng-show="vm.order.new") new
                span.pull-right.label.bg-green(ng-hide="vm.order.new") confirmed
            li
              a
                b phone:
                span.pull-right {{vm.order.phone}}
            li
              a
                b quantity:
                span.pull-right {{vm.order.products.length}}
            li
              a
                b total:
                span.pull-right {{vm.totalPrice}}

      .box(style="margin-top:30px")
        .box-body.no-padding
          table.table.table-striped
            thead
              tr
                th Product Name
                th Price
            tbody
              tr(ng-repeat="product in vm.order.products" ng-click="vm.goTo(product._id)")
                td
                  b {{ product.name }}
                td {{ product.price }}
                
    .col-xs-7
      leaflet(defaults="vm.defaults" markers="vm.markers" lf-center="vm.center" height="400px" width="620px")
      
            
