section.content-header
  h1
    | Product

section.content(style="height: 511px")
  .row
    .col-xs-5
      .box.box-widget.widget-user
        .widget-user-header.bg-aqua
          h3.widget-user-username {{vm.product.name}}

      .box.box-default
        .box-header.with-border
          h3.box-title INFO
        .box-body.no-padding
          ul.nav.nav-pills.nav-stacked
            li
              a
                b price:
                span.pull-right {{vm.product.price}}$
            li
              a
                b quantity:
                span.pull-right {{vm.product.quantityWH}}
            li
              a
                b producer:
                span.pull-right {{vm.product.producer}}
